# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# Paths that Dependabot PRs can touch
/Gemfile @bradymholt
/Gemfile.lock @bradymholt
/ynab.gemspec @bradymholt
/.github/ @bradymholt
