=begin
#YNAB API Endpoints

#Our API uses a REST based design, leverages the JSON data format, and relies upon HTTPS for transport. We respond with meaningful HTTP response codes and if an error occurs, we include error details in the response body.  API Documentation is at https://api.youneedabudget.com

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module YnabApi
  class BudgetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Single budget
    # Returns a single budget with all related entities.  This resource is effectively a full budget export.
    # @param budget_id ID of budget
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :last_knowledge_of_server Starting server knowledge.  If provided, only entities that have changed since last_knowledge_of_server will be included.
    # @return [BudgetDetailResponse]
    def get_budget_contents(budget_id, opts = {})
      data, _status_code, _headers = get_budget_contents_with_http_info(budget_id, opts)
      return data
    end

    # Single budget
    # Returns a single budget with all related entities.  This resource is effectively a full budget export.
    # @param budget_id ID of budget
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :last_knowledge_of_server Starting server knowledge.  If provided, only entities that have changed since last_knowledge_of_server will be included.
    # @return [Array<(BudgetDetailResponse, Fixnum, Hash)>] BudgetDetailResponse data, response status code and response headers
    def get_budget_contents_with_http_info(budget_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BudgetsApi.get_budget_contents ..."
      end
      # verify the required parameter 'budget_id' is set
      if @api_client.config.client_side_validation && budget_id.nil?
        fail ArgumentError, "Missing the required parameter 'budget_id' when calling BudgetsApi.get_budget_contents"
      end
      # resource path
      local_var_path = "/budgets/{budget_id}".sub('{' + 'budget_id' + '}', budget_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'last_knowledge_of_server'] = opts[:'last_knowledge_of_server'] if !opts[:'last_knowledge_of_server'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BudgetDetailResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BudgetsApi#get_budget_contents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List budgets
    # Returns budgets list with summary information
    # @param [Hash] opts the optional parameters
    # @return [BudgetSummaryResponse]
    def get_budgets(opts = {})
      data, _status_code, _headers = get_budgets_with_http_info(opts)
      return data
    end

    # List budgets
    # Returns budgets list with summary information
    # @param [Hash] opts the optional parameters
    # @return [Array<(BudgetSummaryResponse, Fixnum, Hash)>] BudgetSummaryResponse data, response status code and response headers
    def get_budgets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BudgetsApi.get_budgets ..."
      end
      # resource path
      local_var_path = "/budgets"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BudgetSummaryResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BudgetsApi#get_budgets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
