=begin
#YNAB API Endpoints

#Our API uses a REST based design, leverages the JSON data format, and relies upon HTTPS for transport. We respond with meaningful HTTP response codes and if an error occurs, we include error details in the response body.  API Documentation is at https://api.youneedabudget.com

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0-SNAPSHOT

=end

require "uri"

module YnabApi
  class CategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # List categories
    # Returns all categories grouped by category group
    # @param budget_id ID of budget
    # @param [Hash] opts the optional parameters
    # @return [CategoriesResponse]
    def get_categories(budget_id, opts = {})
      data, _status_code, _headers = get_categories_with_http_info(budget_id, opts)
      return data
    end

    # List categories
    # Returns all categories grouped by category group
    # @param budget_id ID of budget
    # @param [Hash] opts the optional parameters
    # @return [Array<(CategoriesResponse, Fixnum, Hash)>] CategoriesResponse data, response status code and response headers
    def get_categories_with_http_info(budget_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CategoriesApi.get_categories ..."
      end
      # verify the required parameter 'budget_id' is set
      if @api_client.config.client_side_validation && budget_id.nil?
        fail ArgumentError, "Missing the required parameter 'budget_id' when calling CategoriesApi.get_categories"
      end
      # resource path
      local_var_path = "/budgets/{budget_id}/categories".sub('{' + 'budget_id' + '}', budget_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CategoriesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoriesApi#get_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Single category
    # Returns a single category
    # @param budget_id ID of budget
    # @param category_id ID of category
    # @param [Hash] opts the optional parameters
    # @return [CategoryResponse]
    def get_category_by_id(budget_id, category_id, opts = {})
      data, _status_code, _headers = get_category_by_id_with_http_info(budget_id, category_id, opts)
      return data
    end

    # Single category
    # Returns a single category
    # @param budget_id ID of budget
    # @param category_id ID of category
    # @param [Hash] opts the optional parameters
    # @return [Array<(CategoryResponse, Fixnum, Hash)>] CategoryResponse data, response status code and response headers
    def get_category_by_id_with_http_info(budget_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: CategoriesApi.get_category_by_id ..."
      end
      # verify the required parameter 'budget_id' is set
      if @api_client.config.client_side_validation && budget_id.nil?
        fail ArgumentError, "Missing the required parameter 'budget_id' when calling CategoriesApi.get_category_by_id"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling CategoriesApi.get_category_by_id"
      end
      # resource path
      local_var_path = "/budgets/{budget_id}/categories/{category_id}".sub('{' + 'budget_id' + '}', budget_id.to_s).sub('{' + 'category_id' + '}', category_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CategoryResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoriesApi#get_category_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
