=begin
#YNAB API Endpoints

#Our API uses a REST based design, leverages the JSON data format, and relies upon HTTPS for transport. We respond with meaningful HTTP response codes and if an error occurs, we include error details in the response body.  API Documentation is at https://api.ynab.com

Generated by: OpenAPI Generator (https://openapi-generator.tech)
=end

require 'cgi'

module YNAB
  class MoneyMovementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get all money movement groups
    # Returns all money movement groups
    # @param plan_id [String] The id of the plan. \&quot;last-used\&quot; can be used to specify the last used plan and \&quot;default\&quot; can be used if default plan selection is enabled (see: https://api.ynab.com/#oauth-default-plan).
    # @param [Hash] opts the optional parameters
    # @return [MoneyMovementGroupsResponse]
    def get_money_movement_groups(plan_id, opts = {})
      data, _status_code, _headers = get_money_movement_groups_with_http_info(plan_id, opts)
      data
    end

    # Get all money movement groups
    # Returns all money movement groups
    # @param plan_id [String] The id of the plan. \&quot;last-used\&quot; can be used to specify the last used plan and \&quot;default\&quot; can be used if default plan selection is enabled (see: https://api.ynab.com/#oauth-default-plan).
    # @param [Hash] opts the optional parameters
    # @return [Array<(MoneyMovementGroupsResponse, Integer, Hash)>] MoneyMovementGroupsResponse data, response status code and response headers
    def get_money_movement_groups_with_http_info(plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MoneyMovementsApi.get_money_movement_groups ...'
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MoneyMovementsApi.get_money_movement_groups"
      end
      # resource path
      local_var_path = '/plans/{plan_id}/money_movement_groups'.sub('{' + 'plan_id' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyMovementGroupsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"MoneyMovementsApi.get_money_movement_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MoneyMovementsApi#get_money_movement_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get money movement groups for a plan month
    # Returns all money movement groups for a specific month
    # @param plan_id [String] The id of the plan. \&quot;last-used\&quot; can be used to specify the last used plan and \&quot;default\&quot; can be used if default plan selection is enabled (see: https://api.ynab.com/#oauth-default-plan).
    # @param month [Date] The plan month in ISO format (e.g. 2016-12-01) (\&quot;current\&quot; can also be used to specify the current calendar month (UTC))
    # @param [Hash] opts the optional parameters
    # @return [MoneyMovementGroupsResponse]
    def get_money_movement_groups_by_month(plan_id, month, opts = {})
      data, _status_code, _headers = get_money_movement_groups_by_month_with_http_info(plan_id, month, opts)
      data
    end

    # Get money movement groups for a plan month
    # Returns all money movement groups for a specific month
    # @param plan_id [String] The id of the plan. \&quot;last-used\&quot; can be used to specify the last used plan and \&quot;default\&quot; can be used if default plan selection is enabled (see: https://api.ynab.com/#oauth-default-plan).
    # @param month [Date] The plan month in ISO format (e.g. 2016-12-01) (\&quot;current\&quot; can also be used to specify the current calendar month (UTC))
    # @param [Hash] opts the optional parameters
    # @return [Array<(MoneyMovementGroupsResponse, Integer, Hash)>] MoneyMovementGroupsResponse data, response status code and response headers
    def get_money_movement_groups_by_month_with_http_info(plan_id, month, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MoneyMovementsApi.get_money_movement_groups_by_month ...'
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MoneyMovementsApi.get_money_movement_groups_by_month"
      end
      # verify the required parameter 'month' is set
      if @api_client.config.client_side_validation && month.nil?
        fail ArgumentError, "Missing the required parameter 'month' when calling MoneyMovementsApi.get_money_movement_groups_by_month"
      end
      # resource path
      local_var_path = '/plans/{plan_id}/months/{month}/money_movement_groups'.sub('{' + 'plan_id' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'month' + '}', CGI.escape(month.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyMovementGroupsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"MoneyMovementsApi.get_money_movement_groups_by_month",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MoneyMovementsApi#get_money_movement_groups_by_month\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all money movements
    # Returns all money movements
    # @param plan_id [String] The id of the plan. \&quot;last-used\&quot; can be used to specify the last used plan and \&quot;default\&quot; can be used if default plan selection is enabled (see: https://api.ynab.com/#oauth-default-plan).
    # @param [Hash] opts the optional parameters
    # @return [MoneyMovementsResponse]
    def get_money_movements(plan_id, opts = {})
      data, _status_code, _headers = get_money_movements_with_http_info(plan_id, opts)
      data
    end

    # Get all money movements
    # Returns all money movements
    # @param plan_id [String] The id of the plan. \&quot;last-used\&quot; can be used to specify the last used plan and \&quot;default\&quot; can be used if default plan selection is enabled (see: https://api.ynab.com/#oauth-default-plan).
    # @param [Hash] opts the optional parameters
    # @return [Array<(MoneyMovementsResponse, Integer, Hash)>] MoneyMovementsResponse data, response status code and response headers
    def get_money_movements_with_http_info(plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MoneyMovementsApi.get_money_movements ...'
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MoneyMovementsApi.get_money_movements"
      end
      # resource path
      local_var_path = '/plans/{plan_id}/money_movements'.sub('{' + 'plan_id' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyMovementsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"MoneyMovementsApi.get_money_movements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MoneyMovementsApi#get_money_movements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get money movements for a plan month
    # Returns all money movements for a specific month
    # @param plan_id [String] The id of the plan. \&quot;last-used\&quot; can be used to specify the last used plan and \&quot;default\&quot; can be used if default plan selection is enabled (see: https://api.ynab.com/#oauth-default-plan).
    # @param month [Date] The plan month in ISO format (e.g. 2016-12-01) (\&quot;current\&quot; can also be used to specify the current calendar month (UTC))
    # @param [Hash] opts the optional parameters
    # @return [MoneyMovementsResponse]
    def get_money_movements_by_month(plan_id, month, opts = {})
      data, _status_code, _headers = get_money_movements_by_month_with_http_info(plan_id, month, opts)
      data
    end

    # Get money movements for a plan month
    # Returns all money movements for a specific month
    # @param plan_id [String] The id of the plan. \&quot;last-used\&quot; can be used to specify the last used plan and \&quot;default\&quot; can be used if default plan selection is enabled (see: https://api.ynab.com/#oauth-default-plan).
    # @param month [Date] The plan month in ISO format (e.g. 2016-12-01) (\&quot;current\&quot; can also be used to specify the current calendar month (UTC))
    # @param [Hash] opts the optional parameters
    # @return [Array<(MoneyMovementsResponse, Integer, Hash)>] MoneyMovementsResponse data, response status code and response headers
    def get_money_movements_by_month_with_http_info(plan_id, month, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MoneyMovementsApi.get_money_movements_by_month ...'
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling MoneyMovementsApi.get_money_movements_by_month"
      end
      # verify the required parameter 'month' is set
      if @api_client.config.client_side_validation && month.nil?
        fail ArgumentError, "Missing the required parameter 'month' when calling MoneyMovementsApi.get_money_movements_by_month"
      end
      # resource path
      local_var_path = '/plans/{plan_id}/months/{month}/money_movements'.sub('{' + 'plan_id' + '}', CGI.escape(plan_id.to_s)).sub('{' + 'month' + '}', CGI.escape(month.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyMovementsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"MoneyMovementsApi.get_money_movements_by_month",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MoneyMovementsApi#get_money_movements_by_month\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
